/* Global */
html,
body {
  margin: 0px;
  padding: 0px;
}
h1,
h2,
h3,
ul,
p {
  margin: 0px;
}
ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
a {
  font: inherit;
  color: inherit;
  text-decoration: none;
}
img {
  height: auto;
  display: block;
  max-width: 100%;
}
::-webkit-scrollbar {
  width: 7px;
  background-color: rgb(35, 38, 41);
}
::-webkit-scrollbar-thumb {
  background-color: var(--cor-p2);
  border-radius: 30px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
.center {
  margin: auto;
  text-align: center;
}

/* Cores */
:root {
  --cor-0: #ffffff;
  --cor-1: #fcfcfc;
  --cor-2: #fafafa;
  --cor-3: #f8f8f8;
  --cor-4: #cccccc;
  --cor-5: #b2b2b2;
  --cor-6: #9c9c9c;
  --cor-7: #717171;
  --cor-8: #595959;
  --cor-9: #404040;
  --cor-10: #2e2e2e;
  --cor-11: #1a1a1a;
  --cor-12: #0e0e0e;
  --cor-13: #000000;
  --cor-p1: #009c3b;
  --cor-p2: #1c92ff;
  --cor-p3: #1e406d;
  --cor-p4: #000000cc;
}
.cor-0 {
  color: var(--cor-0);
}
.cor-1 {
  color: var(--cor-1);
}
.cor-2 {
  color: var(--cor-2);
}
.cor-3 {
  color: var(--cor-3);
}
.cor-4 {
  color: var(--cor-4);
}
.cor-5 {
  color: var(--cor-5);
}
.cor-6 {
  color: var(--cor-6);
}
.cor-7 {
  color: var(--cor-7);
}
.cor-8 {
  color: var(--cor-8);
}
.cor-9 {
  color: var(--cor-9);
}
.cor-10 {
  color: var(--cor-10);
}
.cor-11 {
  color: var(--cor-11);
}
.cor-12 {
  color: var(--cor-12);
}
.cor-13 {
  color: var(--cor-13);
}
.cor-p1 {
  color: var(--cor-p1);
}
.cor-p2 {
  color: var(--cor-p2);
}
.cor-p3 {
  color: var(--cor-p3);
}
.cor-p4 {
  color: var(--cor-p4);
}

/* Conteúdo Principal */
section.introducao-bg {
  background-color: var(--cor-6);
  width: 100%;
  height: 100vh;
}
div.introducao {
  background-color: var(--cor-0);
  width: 592px;
  height: calc(100vh - 88px);
  position: relative;
  top: 88px;
  bottom: 0;
  margin: auto;
  border-radius: 50px 50px 0 0;
}
div.logo img {
  padding: 107px 107px 79px 107px;
  width: 156px;
  height: 144px;
}
div.redes {
  background-color: var(--cor-p3);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 520px;
  height: 66px;
  margin: auto;
  margin-top: 15px;
  border-radius: 50px;
  border: 1px solid var(--cor-11);
  cursor: pointer;
}
div.redes:hover {
  background-color: var(--cor-0);
}
div.redes h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 66px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 1.313rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.63px;
  color: var(--cor-0);
}
div.redes h1:hover {
  color: var(--cor-11);
}

.footer p {
  display: flex;
  justify-content: center; 
  align-items: center; 
  position: relative;
  text-align: center;
  bottom: 0;
  color: var(--cor-10);
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-top: 100px;
}
